In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LSTM

# Reading CSV file into training set
training_set = pd.read_csv('alya_formatted_2.csv')
training_set.head()

        Date   Price    Open    High    Low  Change %
0  7/22/2005  3.7800  3.7996  3.8016  3.770     -0.53
1  7/25/2005  3.7510  3.7650  3.7670  3.745     -0.77
2  7/26/2005  3.7495  3.7480  3.7515  3.740     -0.04
3  7/27/2005  3.7512  3.7490  3.7607  3.745      0.05
4  7/28/2005  3.7510  3.7510  3.7600  3.745     -0.01